# Invoice Data Exploration

This notebook explores the invoice dataset to understand its structure, quality, and characteristics.

In [2]:
import pandas as pd
df = pd.read_csv("../data/invoices.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_facture       50000 non-null  object
 1   nom_du_client    50000 non-null  object
 2   create_date      50000 non-null  object
 3   due_in_date      50000 non-null  object
 4   clear_date       50000 non-null  object
 5   montant_totale   50000 non-null  float64
 6   totale_payer     50000 non-null  float64
 7   totale_reste     50000 non-null  float64
 8   client_category  50000 non-null  object
dtypes: float64(3), object(6)
memory usage: 3.4+ MB

In [3]:
df.describe()

       montant_totale  totale_payer  totale_reste
count    50000.000000  50000.000000  50000.000000
mean      7229.569103   4560.958229   2668.610875
std       5754.030350   4138.486682   2949.372356
min         50.000000      3.610000      0.000000
25%       2323.280000   1310.230000    581.252500
50%       5799.670000   3232.805000   1580.580000
75%      11115.882500   6837.500000   3832.365000
max      38079.660000  35609.400000  28991.120000