# Invoice Data Exploration

This notebook explores the invoice dataset to understand its structure, quality, and characteristics.

In [16]:
import pandas as pd
df = pd.read_csv("../data/new_dataset_labeled.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id facture       869 non-null    int64
 1   nom du client    869 non-null    object
 2   create date      869 non-null    object
 3   due in date      869 non-null    object
 4   clear date       869 non-null    object
 5   montant totale   869 non-null    float64
 6   totale payer     869 non-null    float64
 7   totale reste     869 non-null    float64
 8   days_late        869 non-null    int64
 9   is_paid_on_time  869 non-null    bool
 10  is_late_1_45     869 non-null    bool
 11  is_late_gt_45    869 non-null    bool
 12  label            869 non-null    object
dtypes: bool(3), float64(3), int64(2), object(5)
memory usage: 70.6+ KB

In [17]:
df.describe()

       id facture  montant totale  totale payer  totale reste   days_late
count  869.000000      869.000000    869.000000    869.000000  869.000000
mean   435.000000     2505.634684   1861.131369    644.503314    4.764097
std    251.002988     1399.159134   1108.513784    550.990895    9.032751
min      1.000000      102.180000     73.880000      1.720000  -10.000000
25%    218.000000     1283.820000    921.450000    214.060000   -3.000000
50%    435.000000     2505.980000   1812.840000    476.420000    5.000000
75%    652.000000     3709.230000   2634.760000    965.680000   13.000000
max    869.000000     4996.910000   4755.220000   2358.880000   20.000000